.post-has-replies {
  color: var(--tertiary);
}
.btn-link.posts-map.badge-posts .d-icon-far-heart {
  color: var(--love) !important;
}

// categories & latest page
.categories-and-latest .latest-topic-list .posts-map,
.top-topic-list .posts-map {
  font-size: var(--font-0);
}
